/ppt

/lab1/3613904.3642168.pdf
/lab1/3648618.pdf

/lab3/GroceryStoreDataset

*/**/.venv
*/**/.gradio

*.docx
*.mp4
*.zip
*.pptx

# LaTeX compiled files
*.tex

*.bbl
*.blg
*.bib
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz